input,
textarea,
select {
  background-color: var(--input-base);
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--input-stroke);
  padding: 0.75rem 1rem;
  font: var(--body-md);
  color: var(--input-placeholder);
  margin-bottom: 1rem;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0.25rem solid var(--shape-body);
  border: 0.125rem solid var(--brand-light);
  font: var(--body-md);
  color: var(--text-heading);
}
.sobre-evento {
  display: flex;
  gap: 12px;
  font: var(--heading-sm);
  color: var(--text-heading);
  margin-bottom: 24px;

  & img {
    width: 24px;
    height: 24px;
  }
}
label {
  font: var(--body-sm);
  color: var(--text-body);
  display: block;
  margin-bottom: 0.5rem;
}
.flex {
  display: flex;
  gap: 1rem;
}
.flex-1 {
  flex: 1;
}
.type-wrapper .radio-wrapper {
  display: flex;
  gap: 1rem;
}
.radio-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    width: 272px;
    height: 48px;
    gap: 4px;
    padding: 4px;
    background-color: var(--input-base);
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
  }
.img-radio-1 {
    background-image: url(../../assets/icons/building-1.svg);
    width: 16px;
    height: 16px;
}
.img-radio-2 {
    background-image: url(../../assets/icons/video-1.svg);
    width: 16px;
    height: 16px;
}
.radio-inner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 40px;
    border-radius: 4px;
    padding: 4px;
    gap: 8px;
    font: var(--body-sm);
    color: var(--text-body);

    & input,
    & input:focus,
    & input:hover{
        all: unset;
        position: absolute;
        inset: 0;
    }

    &:hover, &:focus-within{
        background-color: var(--shape-button);
        & .img-radio-1{
            background-image: url(../../assets/icons/building-2.svg);
        }
        & .img-radio-2{
            background-image: url(../../assets/icons/video-2.svg);
        }
    }

    &:has(:checked){
        background-color: var(--shape-button);
        font: var(--body-sm);
        color: var(--text-heading);
        & .img-radio-1{
            background-image: url(../../assets/icons/building-2.svg);
        }
        & .img-radio-2{
            background-image: url(../../assets/icons/video-2.svg);
        }
    }
}
.input-radio{
    width: 272px;
}