.dados {
  display: flex;
  gap: 12px;
  font: var(--heading-sm);
  color: var(--text-heading);
  margin-bottom: 24px;
  margin-top: 48px;

  & img {
    width: 24px;
    height: 24px;
  }
}
.contact-data{
  margin-bottom: 48px;
}