:root{
    /* tipografia */
    --family-font-1: "Leckerli One", cursive;
    --logo: 400 40px var(--family-font-1);
    --family-font-2: "Baloo 2", sans-serif;
    --heading-md: 800 28px var(--family-font-2);
    --heading-sm: 800 18px var(--family-font-2);
    --family-font-3: "Open Sans", sans-serif;
    --body-md: 600 16px var(--family-font-3);
    --body-sm: 600 14px var(--family-font-3);
    --body-xs: 600 12px var(--family-font-3);
    /* cores */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    --danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-body: #C8CDD0;
    --text-heading:#F9F9F9;
}